.swiper{
    padding-block: 50px;
}
.movieSlider{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 60vw;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}
.Swiper-Slide{
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 200px;
}
.Swiper-Slide img{
    display: block;
    width: 100%;
}