
main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10 0 120px;
    background: #000;
}

 main::before{
    position: absolute;
    content: '';
    left: 0;
    top: -80px;
    width: 100%;
    height: 200px;
    background: #000;
    filter: blur(50px);
    -webkit-filter: blur(50px);
} 
section{
    position: relative;
    overflow: hidden;
    padding: 0px  50px  ;
    width: 100%;
    transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -ms-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
    transform-origin: bottom;
    z-index: 1111;
}
section h1{
    font-size: 4rem;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
}

section .section-title{
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

section .section-title::after{
    position: absolute;
    content: '';
    left: 0;
    top: 150%;
    height: 5px;
    width: 50%;
    background: linear-gradient(90deg,var(--primary),var(--primary),transparent);
    z-index: 1000;
}

section p{
    font-weight: 300;
    color: #111;
    letter-spacing: 1px;
    margin-bottom: 40px;
}