.header{
    padding: 0px 100px;
     width: 100%;
     min-height: 100vh;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.header::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.header .movie{
 padding-inline: 100px;
 position: absolute;
 top:0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 overflow: hidden;
 padding-bottom: 100px
}

.bgImg{
 position: absolute;
 top:0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: center;
 font-size: 8rem;
  visibility: hidden;
    opacity: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.bgImg.done{
    visibility: visible;
    opacity: 1;
}

.header .content{
    position: relative;
    max-width: 550px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
    z-index: 1000;
}
.header .content.done{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.movieImg-title{
    max-width: 250px;
    margin-bottom: 20px;
}
.header .content h4{
    font-size: 30px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.header .content h4 span{
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.header .content h4 span:first-child{
    padding-left: 0;
}

.header .content h4 span:last-child{
    border-right: 0;
}
.header .content h4 span i{
    background: var(--primary);
    color: #fff;
    display: inline-block;
    padding: 0 8px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.header .content p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    margin: 20px 0px 30px;
    color: #fff;
}

.header .content .btn {
    background-color: var(--primary);
    cursor: pointer;
    text-transform: uppercase;
    padding: 8px 15px;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.header .content .btn:hover{
    background-color: #fff;
    color: var(--primary) !important;
}

.header .date{
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 1;
    -webkit-transition: 1;
    -moz-transition: 1;
    -ms-transition: 1;
    -o-transition: 1;
    z-index: 1;
}
.header .date.done{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.header .date h2{
    font-family: 'Racing Sans One', sans-serif;
    color: transparent;
    text-transform: uppercase;
    font-size: 7rem;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    -webkit-mask: linear-gradient(#000 0 0),linear-gradient(#000 0 0);
    -webkit-mask-clip: text , padding-box;
    -webkit-mask-composite: xor;
}

.header .trailer{
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 1;
    -webkit-transition: 1;
    -moz-transition: 1;
    -ms-transition: 1;
    -o-transition: 1;
    z-index: 1;
}
.header .trailer.done{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.trailer p{
    color: var(--primary);
    margin-left: 20px;
    font-size: 1.5rem;
}

.header .playBtn{
    position: relative;
    color: #fff;
    width: 80px;
    height: 80px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    z-index: 1000;
    background-color: transparent;
    backdrop-filter: blur(20px);
    cursor: pointer;
}
.header .playBtn::before{
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    content: '';
    background: transparent;
    border: 5px solid #fff;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    animation: button 1s linear infinite;
    -webkit-animation: button 1.2s linear infinite;
}
@keyframes button{
    0%,100%{
        opacity: 0.3s;
        filter: blur(4px);
        -webkit-filter: blur(4px);
}
50%{
    opacity: 1;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
}
.header .playBtn ion-icon{
    font-size: 3rem;
    color: var(--primary);
    cursor: pointer;
}


@media (max-width: 576px) {

  .header {
    padding: 0 15px;
    min-height: 100vh;
  }

  .header .movie {
    padding-inline: 15px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .header .content {
    max-width: 100%;
    transform: scale(1);
    text-align: center;
  }

  .movieImg-title {
    max-width: 180px;
    margin: 0 auto 15px;
  }

  .header .content h4 {
    font-size: 18px;
    line-height: 1.4;
  }

  .header .content h4 span {
    display: inline-block;
    padding: 0 6px;
    font-size: 14px;
  }

  .header .content p {
    font-size: 14px;
    margin: 15px 0 20px;
  }

  .header .content .button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .header .date h2 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .header .trailer {
    margin-top: 20px;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 50px;
    z-index: 9999;
  }

  .header .playBtn {
    width: 50px;
    height: 50px;
  }

  .header .playBtn ion-icon {
    font-size: 2rem;
  }

  .trailer p {
    margin-left: 0;
    font-size: 1rem;
  }

}



@media (min-width: 577px) and (max-width: 991px) {

  .header {
    padding: 0 50px;           
    min-height: 100vh;          
  }

  .header .movie {
    padding-inline: 50px;     
    flex-direction: column;     
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
  }

  .header .content {
    max-width: 100%;
    transform: scale(1);
    text-align: center;
  }

  .movieImg-title {
    max-width: 200px;          
    margin: 0 auto 20px;
  }

  .header .content h4 {
    font-size: 20px;          
    line-height: 1.4;
  }

  .header .content h4 span {
    display: inline-block;
    padding: 0 8px;
    font-size: 15px;
  }

  .header .content p {
    font-size: 15px;
    margin: 15px 0 20px;
  }

  .header .content .button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .header .date h2 {
    font-size: 3rem;           
    margin-top: 20px;
  }

  .header .trailer {
    margin-top: 20px;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 40px;
    z-index: 999;
  }

  .header .playBtn {
    width: 60px;
    height: 60px;
  }

  .header .playBtn ion-icon {
    font-size: 2.5rem;
  }

  .trailer p {
    margin-left: 0;
    font-size: 1.1rem;
  }

}

@media (min-width: 992px){
      .header .date h2 {
    font-size: 4rem;           
    margin-top: 20px;
  }
}

@media (min-width: 1400px){
      .header .date h2 {
    font-size: 7rem;           
    margin-top: 20px;
  }
}