.search {
    position: relative;
    width: 300px;
    height: 40px;
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    padding: 0 10px 0 45px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    backdrop-filter: blur(10px);
}

.search input::placeholder{
    color: #fff;
}

.search ion-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    color: #fff;
    padding-right: 10px;
    border-right:1px solid #fff;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
