
.blog article {
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  transition: 0.3s;
}

.blog article:hover {
  transform: translateY(-5px);
}

.post-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.post-category {
  margin: 15px 15px 0;
  color: var(--primary);
  font-size: 0.85rem;
  font-weight: 500;
}

.blog .title {
  font-size: 1rem;
  margin: 10px 15px;
}

.blog .title a {
  color: #fff;
  text-decoration: none;
}

.blog .title a:hover {
  color: var(--primary);
}

.post-author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px;
}

.post-meta {
  font-size: 0.8rem;
}

.post-author-list {
  margin: 0;
  color: #fff;
}

.post-date {
  margin: 0;
  color: #aaa;
}