:root{
    --primary: #ff3700;
}
body{
    background-color: rgb(0, 0 , 0);
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.active {
  color: var(--primary) !important;
}
.logo{
  font-family: 'Racing Sans One', sans-serif;
  font-size: 30px;
  font-weight:800;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}

.nav-list{
     font-family: 'Courier New', Courier, monospace;
     font-size: 22px;
     font-weight: 600;
     text-transform: uppercase;
     letter-spacing: 1px;
     cursor: pointer;
     color: #fff;
     transition:all 0.8s ;
     -webkit-transition:all 0.8s ;
     -moz-transition:all 0.8s ;
     -ms-transition:all 0.8s ;
     -o-transition:all 0.8s ;
}

.nav-list:hover, .logo:hover{
    color: var(--primary);
}
nav{
    position: fixed;
    top: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.021);
    border-bottom: 3px solid var(--primary);
    border-image: linear-gradient(90deg ,transparent, var(--primary),transparent)30 ;
    backdrop-filter: blur(5px);
    z-index: 9999;
}
 .navbar-toggler{
   color: var(--primary);
}
.btn-sign{
 background-color: var(--primary);
    cursor: pointer;
    text-transform: uppercase;
    padding: 6px 10px;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}
.btn-sign:hover{
    background-color: #fff;
    color: var(--primary) !important;
}





